body {
    height: 300px;
    width: 400px;
}

.form {
    display:flex;
    flex-direction: column;
    align-content: space-between;
    border: 2px solid black;
    align-content: center;
    padding: 5px;
    height: 150px;
}

#title {
    margin: 3px;
    height: 20px;
    padding: 5px;
}

#description {
    margin: 3px;
    height: 75px;
    padding: 5px;
}

.submit-btn {
    margin: 3px;
    width: 50px;
    padding: 5px;
}

.queue-container {
    border: 2px solid black;
    height: 75px;
}